<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Refer N Get</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/menu.css">
  <style>
  body {
      position: relative;
  }
  .affix {
      top: 20px;
  }
  div.col-sm-10 div {

      font-size: 21px;
  }
  @media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4   {
        margin-left: 150px;
    }
  }
      /* generic */
 body {
    color: #CCCCCC;
    font-size:16px;
    background:#3F3F3F;
}
      h1 {
    font-family:'Questrial', Verdana, sans-serif;
    text-align:center;
    color:#8C8C8C;
}
/** inputs and textarea**/
 input:not([type="submit"]), textarea {
    outline:none;
    display:block;
    width:380px;
    padding:4px 8px;
    border:1px dashed #DBDBDB;
    color:#3F3F3F;
    /*transition*/
    -webkit-transition:background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition:background 0.2s linear, box-shadow 0.6s linear;
    -o-transition:background 0.2s linear, box-shadow 0.6s linear;
    transition:background 0.2s linear, box-shadow 0.6s linear;
}
input:not([type="submit"]):active, textarea:active, input:not([type="submit"]):focus, textarea:focus {
    background:#F7F7F7;
    border:dashed 1px #969696;
    /*box-shadow*/
    -webkit-box-shadow:2px 2px 7px #E8E8E8 inset;
    -moz-box-shadow:2px 2px 7px #E8E8E8 inset;
    box-shadow:2px 2px 7px #E8E8E8 inset;
}

/* placeholder */
 ::-webkit-input-placeholder {
    color:#BABABA;
}

textarea {
    min-height:150px;
    resize:vertical
}
/** labels**/

label {
    color:#7F7E7E;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}
/** Styling the send button **/
 input[type=submit] {
    margin-left:235px;
    color:#767676;
    font-size:18px;
}

  </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">


<h1>Go for shopping with us.</h1>
 <h3 style="text-align:center;">"Our Vision is to make refernget.com one stop saving and earning destination center of all websites of inda."</h3><div class="calltoaction-wrapper">
    <img src="Images/images%20(1).png" width="50px" height="50px"><h3>&nbsp;<span style="color:#aec62c;">Keep Saving Keep Earning Keep Smiling</span></h3>&nbsp;<img src="Images/images%20(2).png" width="50px" height="50px">
    </div>
<br>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-2" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <li><a href="#section1">About Us </a></li>
        <li><a href="#section2">Advertise with Us</a></li>
        <li><a href="#section3">Our Team</a></li>
        <li><a href="#section4">Contact Us</a></li>
        <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
					<a href="index.html"><span class="glyphicon glyphicon-menu-left" ></span>Back To Home</a>
				</div>
      </ul>
    </nav>
    <div class="col-sm-10">
      <div id="section1" >
        <h1>About Us - Our Servieces</h1>
        <p><span class="points">Latest Offers n Deals :</span> Welcome to refernget.com, an online portal of bargain hunters, searching new offers n deals only for you. We keep you updated from latest offers on many websites and Categories like Amazon, Flipkart, MakeMyTrip, Oyo-Rooms, Domain and Hosting, Banks and Credit Card offers, Online food, Online servieces, Education Packages, online Gaming and many more.</p>
          <p><span class="points">Save Money with us :</span> We give highest cashback while shopping on india's top portals. Just you have to redirect from refernget.com; We will track your order and cashback will be added to your smile wallet. We are actively tying up with other portals also soon cashback on those portals will be available.</p>
          <p><span class="points">Earn Money with us :</span>
 Earn lifetime when your friend signup with your unique referral code and Purchase anything. Suppose how much you can earn by just referring your friends.

 </p>
		<p><span class="points">Your Guide : </span>Our email serviece which will enable you to get your favourite category's or website's offer. Get automatd related offers in your inbox.  </p>
      </div>

      <div id="section2">
        <h1>Advertise with Us</h1>
        <ul>
Are you an online retailer that wants to participate as a advertiser on refernget.com?<br>
          <li>Do you sell products or services online?</li>
          <li>Do you have high customer satisfaction and great customer service?
<li>Do you have an affiliate program that you use to promote your site?</li>
<li>Are you working with an established Affiliate Program Provider such as cCelinks, Admitad etc. to help run your program?</li>
<li>Are you hungry for greater exposure and more sales than you can handle?</li>
            If the answer to all of these questions is "Yes" you may be eligible.If you aren't working with us already, you are missing out on the largest single-source of qualified customers in existence.<a href="#section4">Join Today</a> <br><br>

Are you our Merchant that wants increased exposure to our Members?
refernget.com has an entire sales team ready to put together a cost-effective advertising campaign for you. Once you’re partnered with us, - the results we get our advertisers will amaze you. We can provide you with:<br>

<li>Home page placement </li>
<li>Enhanced visibility of your coupons, promos and specials deals</li>
            <li>Inclusion in our weekly emails, Social media</li>
<li>and much more.<a href="#section4">contact us</a></li></ul>
      </div>

      <div id="section3" >
        <h1>Our Team</h1>
    <div  class="container-fluid">
   				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="Images/team/1.png" class="img-rounded" alt="Founder Image">
								<ul>
                                    <li class="team-member-name">Harishankar Pansari (Founder & CEO)</li>
									</ul>
							</div></div>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div class="team-member">
							<div class="team-member-image"><img src="Images/team/2.jpg" class="img-rounded" alt="Co-Founder's Image">
								<ul>
                                    <li class="team-member-name">Madhur Agarwal (Co-Founder & RnD)</li>
								</ul></div>
						</div>
                    </div>
				</div>
</div>
      </div>

        <div id="section4">
        <h1>Contact Us</h1>
<div id="content">

    <form action=" " method="post" autocomplete="on">
        <p>
            <label for="username" class="icon-user"> Name</label>
            <input type="text" name="username" id="username" required="required" placeholder="Your Name" />
        </p>

        <p>
            <label for="usermail" class="icon-envelope"> E-mail address</label>
            <input type="email" name="usermail" id="usermail" placeholder="xyz@example.com" required="required" />
        </p>

        <p>
            <label for="usersite" class="icon-link"> Phone</label>
            <input type="tel" name="phone" id="phone" placeholder="09876543210" />
        </p>

        <p>
            <label for="subject" class="icon-bullhorn"> Subject</label>
            <input type="text" name="subject" id="subject" placeholder="What would you like to talk about?" />
        </p>

        <p>
            <label for="message" class="icon-comment"> Message</label>
            <textarea placeholder="Your message here and We'll answer as soon as possible " required="required"></textarea>
        </p>

        <input type="submit" value=" Send! " />

    </form>
</div>


      </div>


    </div>
  </div>
</div>
     <!-- Footer -->
        <div class="footer">
	    	<div class="container">

		    	<div class="row">

		    		<div class="col-footer col-sm-4 col-xs-12">
		    			<h3>About Refer N Get </h3>
                        <ul style="list-style:none;">
                        <li><a href="about-us.html"><b>Contact Us</b></a></li>
                        <li><a href="#">We are Hiring</a></li>
                        <li><a href="#"></a></li>
                        </ul>
		    			<p class="contact-us-details">
	        				<b>Phone:</b> +91 7587525372,9406563569<br/>
	        				<b>Whatsapp:</b> +91 7587525372,9406563569<br/>
	        				<b>Email:</b> <a href="mailto:refernget@gmail.com">refernget@gmail.com</a><br/>
	        			</p>
		    		</div>
		    		<div class="col-footer col-sm-4 col-xs-12">
		    			<h3>Our Social Networks</h3>
						<p>Keep in touch for latest offers on different retailer websites and also Subscribe our you tube channel to get updates.</p>
		    			<div>
                            <a href="http://www.facebook.com/refernget" target="_blank"><img src="Images/icons/facebook.png" width="32" alt="Facebook"></a>
                            <a href="https://twitter.com/ReferNGet" target="_blank"><img src="Images/icons/twitter.png" width="32" alt="Twitter"></a>
                            <a href="https://www.instagram.com/refernget/" target="_blank"><img src="Images/icons/instagram.png" width="32" alt="Instagram"></a>
                            <a href="https://www.linkedin.com/company/13280878" target="_blank"><img src="Images/icons/linkedin.png" width="32" alt="LinkedIn"></a>

                            <a href="https://plus.google.com/u/2/115697534395960415459" target="_blank"><img src="Images/icons/google%20+.png" width="32" alt="Google Plus"></a>

                            <a href="https://www.youtube.com/channel/UC4YLsCMX7QZQhMZM_qlM7KQ" target="_blank"><img src="Images/icons/YouTube.png" width="32" alt="Youtube"></a>

						</div>
		    		</div>
		    		<div class="col-footer col-sm-4 col-xs-12">
		    			<h3>Why us</h3>
                            <p>When you take any product or serviece from our Partner E-Commerce portals via ReferNGet.com, We give you 80% commission back to you which we get from our Affiliate Partners, When you sign up with your friend's referral code.
                            Like this by referring your friends suppose how much you can earn forever only once ypur friends sign up with your code and We also guide you to choose better Portal for different products.<a href="about-us.html">Read more</a>
                            </p>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-xs-12 col-sm-12">
                        <div class="footer-copyright"><a href="#">Terms and Conditions </a> &nbsp;<a href="#">Privacy and Cookie Policy</a>.<br><a href="index.html">&copy; 2017 Refer N Get</a>.</div>
                    </div>
		    	</div>
		    </div>
        </div>



</body>
</html>
